{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="html_body"}
	
	
	
		<div class="ui-layout-center">
				<div class="flex-wrapper">
					<table class="table-listing">
					<thead>
						{foreach from=$columns item=col}
							<th data-column-name="{$col.name|escape}">{$col.label|escape}</th>
						{/foreach}
					</thead>
					<tbody>{*
					{foreach from=$rows key=rowid item=row}
						<tr data-row-id="{$rowid|escape}">
							{foreach from=$row item=col}
								<td data-column-name="{$col.name|escape}">{$col.value|escape}</td>
							{/foreach}
						</tr>
					{/foreach}
					*}</tbody>
				
				</table>
				</div>
				
			
		
		</div>
		<iframe id="detailFrame" name="detailFrame" class="ui-layout-south"
	width="100%" height="600" frameborder="0" scrolling="auto"></iframe>
		
		
	{/fill_slot}
{/use_macro}